<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8eeaff03-92dd-46c9-84fc-7b252f93800b" Publisher="CN=&quot;Facebook C# SDK&quot;" Version="1.0.0.0" />
  <Properties>
    <DisplayName>facebook-windows8-sample</DisplayName>
    <PublisherDisplayName>Facebook C# SDK</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>facebook-metro-sample</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="facebook_windows8_sample.App">
      <VisualElements DisplayName="facebook-windows8-sample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Facebook Windows 8 Sample" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>